Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the request is already for the public directory, don't redirect again
    RewriteCond %{REQUEST_URI} !^/public/
    # Rewrite everything to the public directory
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# Deny access to sensitive configuration/data files, NOT including php
<FilesMatch "\.(env|ini|log|sql|json|neon|dist)$">
    Require all denied
</FilesMatch>

# Deny direct access to sensitive directories
<IfModule mod_rewrite.c>
    RewriteRule ^(vendor|src|config|docs|bin|templates)/ - [F,L]
</IfModule>
